<!--<form action="/users" accept-charset="UTF-8" method="post" >
    <label for="username">Name: </label>
    <input type="text" name="user[username]" id="username" >
    <br><br>
    <label for="email">Email: </label>
    <input type="email" name="user[email]" id="email"  >
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password" >
    <br><br> 
</form>-->

<h1> Log in </h1>

<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :username, "Name: " %>
        <%= form.text_field :username %>
    </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email ,placeholder: "example@mail.com"%>
  </div>
   <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
   </div>
    <div>
      <%= form.submit "Log in" %>
    </div>
<% end %>




